#about {
    width: 100%;
    height: 600px;
    margin: 15vh 0 7.5vh 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
}

.tablet-image,
.phone-image {
    display: none;
}

.desktop-image {
    width: 100%;
    height: 100%;
    background: url("../../Homepage/HumanImg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    border-radius: 8px;
}

.tablet-image {
    background: url("../../TabletStyles/TabletAboutUs.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about__description {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 3rem;
}

#about__description h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 2rem;
    white-space: break-spaces;
}

#about__description h1 span {
    color: #D87D4A;
}

#about__description p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    opacity: .5;
    inline-size: 445px;
}

@media screen and (max-width: 1150px) {
    #about {
        height: 800px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(2, minmax(400px));
        grid-gap: 0;
    }

    .tablet-image {
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
    }

    .desktop-image {
        display: none;
    }

    #about__image {
        margin: 2rem 0;
        width: 100%;
    }

    #about__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0;
        padding: 0 5.5vw;
    }

    #about__description h1 {
        inline-size: 580px;
    }

    #about__description p {
        inline-size: initial;
        min-inline-size: 600px;
        max-inline-size: 850px;
    }
}

@media screen and (max-width: 650px) {
    #about {
        margin-top: 17rem;
        margin-bottom: 10rem;
        height: 800px;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: minmax(0, 1fr);
    }

    .tablet-image {
        display: none;
    }

    .phone-image {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../../MobileStyles/MobHumanImg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #about__image {
        margin-top: 4rem;
    }

    #about__description {
        width: 100%;
        padding: 0;
    }

    #about__description h1 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        inline-size: 280px;
        text-align: center;
    }

    #about__description p {
        font-size: 15px;
        line-height: 25px;
        inline-size: 100%;
        min-inline-size: 100%;
    }
}