.app__sections-body {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 560px 320px minmax(0, 1fr);
    grid-template-columns: 100%;
    grid-gap: 2rem;
}

#speaker-top {
    background: #D87D4A;
    border-radius: 8px;
    padding: 0 2rem;
    height: auto;
    background-image: url("../../Homepage/SpeakerTop.svg"), url("../../Homepage/Circles.svg");
    background-position: left 7rem bottom 0, left bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#speaker-top__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#speaker-top__description h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
}

#speaker-top__description p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    opacity: .75; 
    inline-size: 350px;
    margin: 2rem 0;
}

.product-button {
    border: none;
    width: 160px;
    font-size: 13px;
    font-weight: 700;
    font-family: "Manrope";
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFF;
    padding: 1rem 0;
}

#speaker-top__description .product-button {
    background: #000;
}

#speaker-top__description .product-button:hover {
    background: #4C4C4C;
    cursor: pointer;
}

#speaker-bottom {
    background-image: url("../../Homepage/SpeakerBottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

#speaker-bottom__description {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem 0 0 5rem;
}

#speaker-bottom__description h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

#speaker-bottom__description .product-button {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

#speaker-bottom__description .product-button:hover,
#earphones__description-text .product-button:hover {
    cursor: pointer;
    background: #000;
    color: #FFF;
}

#earphones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
}

#earphones-img {
    background: url("../../Homepage/BigEarphones.svg");
    background-size: cover;
    background-position: center;
    height: 320px;
    border-radius: 8px;
}

#earphones__description {
    background: #F1F1F1;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

#earphones__description-text {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 5rem;
}

#earphones__description-text h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}

#earphones__description-text .product-button {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

#about {
    width: 100%;
    margin: 15vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about__image,
#about__image img {
    width: 100%;
    border-radius: 8px;
}

#about__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 3rem;
}

#about__description h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000;
    inline-size: 400px;
    margin-bottom: 2rem;
}

#about__description h1 span {
    color: #D87D4A;
}

#about__description p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    opacity: .5;
    inline-size: 400px;
}

@media screen and (max-width: 1600px) {
    #speaker {
        position: initial;
    }
}

@media screen and (max-width: 1150px) {
    .app__sections-body {
        margin-top: 0;
        grid-template-rows: minmax(900px, 1fr) repeat(2, 320px);
    }

    #speaker-top {
        width: 100%;
        background-image: url("../../TabletStyles/TabletSpeakerTop.svg"), url("../../TabletStyles/TabletSpeakerTopCircles.svg");
        background-position: center 3.5rem, center top;
        background-size: 280px, cover;
    }

    #speaker-top__description {
        width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 28rem;
    }

    #speaker-bottom {
        background: url("../../TabletStyles/TabletIntroSpeakerBottom.svg");
        background-size: cover;
        border-radius: 8px;
        background-position: center;
    }

    #speaker-bottom__description {
        margin-left: 2rem;
    }

    #earphones-img {
        background: url("../../TabletStyles/TabletIntroEarphones.svg");
        background-size: cover;
        height: 420px;
        background-position: center;
    }

    #earphones__description-text {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .app__sections-body {
        grid-template-rows: 600px 320px 320px;
    }
    #speaker-top {
        background: url("../../TabletStyles/TabletSpeakerTop.svg"), url("../../MobileStyles/MobCircles.svg");
        background-position: center 3.5rem, top;
        background-size: 160px, auto;
        background-color: #D87D4A;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3rem;
    }

    #speaker-top__description {
        margin-top: 0;
    }

    #speaker-bottom {
        background: url("../../MobileStyles/MobSpeakerBottom.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #earphones {
        display: flex;
        flex-direction: column;
        height: 500px;
    }

    #earphones-img {
        height: 250px;
    }

    #earphones__description {
        height: 250px;
    }

    #speaker-top__descripiton h1,
    #speaker-top__description p {
        inline-size: 310px;
    }

    #speaker-top__description h1 {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.2px;
    }

    #speaker-bottom__description h1,
    #earphones__description-text h1 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
    }
}