.mini-section {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

#mini-section-image-div {
    height: 150px;
    z-index: 1;
    display: flex;
    align-items: center;
}

#mini-section-image-div:hover {
    cursor: pointer;
}

#mini-section-image-div:hover + .mini-section__description #button-div span {
    color: #D87D4A;
    opacity: 1;
}

#mini-section-image-div::after {
    display: block;
    content: "";
    width: 100px;
    height: 20px;
    background: #000;
    filter: blur(21px);
    position: absolute;
    margin-top: 150px;
    margin-left: 15px;
}

.mini-section__description {
    z-index: 0;
    position: relative;
    top: -5rem;
    border-radius: 8px;
    background: #F1F1F1;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.mini-section__description:hover {
    cursor: pointer;
    transition: 0.3s;
}

.mini-section__description:hover #button-div span {
    color: #D87D4A;
    opacity: 1;
}

.mini-section__description h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #000;
}

#button-div {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 60px;
}

#button-div span {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    opacity: .5;
}

#button-div span {
    transition: 0.3s;
}

@media screen and (max-width: 650px) {
    .mini-section {
        margin-top: -3rem;
    }
}