.navigation {
    display: block;
}

.navigation .a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1rem;
    transition: 0.3s;
}

.navigation .a:hover {
    cursor: pointer;
    color: #D87D4A;
}

.navigation .a:first-child {
    margin-left: 0;
}

.navigation .a:last-child {
    margin-right: 0;
}

.app__section-header__background {
    background: #141313;
    padding: 1.5rem 10vw;
}

.app__section-header-nav {
    display: flex;
    justify-content: space-between;
}

.app__section-header-nav img {
    z-index: 101;
}

.header {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFF;
    margin: 5rem 0 3rem 0;
}

#number-of-items {
    color: #FFF;
    background: rgba(216, 125, 74, .3);
    padding: 1rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: -10px;
}

#shop-cart {
    z-index: 101;
    width: 143px;
    height: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#shop-cart img {
    transition: 0.2s;
    width: 24px;
    height: 20px;
}

#shop-cart img:hover {
    cursor: pointer;
    filter: invert(55%) sepia(20%) saturate(1215%) hue-rotate(337deg) brightness(96%) contrast(97%);
}

.cart-menu {
    z-index: 101;
    border-radius: 8px;
    background: #FFF;
    color: #000;
    width: 380px;
    position: absolute;
    left: 55vw;
    margin-top: 55px;
    padding: 2rem;
    animation-name: mount;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.empty-text {
    text-align: center;
}

.empty-text span {
    font-weight: 500;
    font-size: 15px;
    color: #000;
    text-align: center;
    opacity: .5;
}

.cart-menu__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cart-menu__header h1 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #000;
}

.cart-menu__header p,
#item-quantity-edit p {
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    color: #000;
    opacity: .5;
    transition: 0.3s;
}

.cart-menu__header p:hover,
#item-quantity-edit p:hover {
    cursor: pointer;
    color: #D87D4A;
    opacity: 1;
}

.cart-menu__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cart-menu__body-image {
    background: #F1F1F1;
    border-radius: 8px;
    padding: .7rem;
    width: 65px;
    height: 65px;
}

.cart-menu__body-image img {
    width: 100%;
    height: 100%;
}

.body-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
}

.cart-menu__body-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 70px;
}

.cart-menu__body-description h2 {
    font-weight: 700;
    font-size: 15px;
    color: #000;
}

.cart-menu__body-description span {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    opacity: .5;
}

.cart-menu__body-quantity {
    width: 120px;
    display: flex;
    justify-content: center;
}

.cart-menu__body-quantity {
    height: 40px;
}

.cart-menu__body-quantity button,
.cart-menu__body-quantity input {
    cursor: pointer;
    background: #F1F1F1;
    border: none;
    outline: none;
    width: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
}

.cart-menu__body-quantity input {
    color: #000;
    pointer-events: none;
}

.cart-menu__body-quantity button {
    color: rgba(0, 0, 0, 0.25);
    transition: 0.1s;
}

.cart-menu__body-quantity button:hover {
    color: #D87D4A;
}

.cart-menu__body-quantity input::-webkit-outer-spin-button,
.cart-menu__body-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cart-menu__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.cart-menu__total span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    opacity: .5;
}

.cart-menu__total h3 {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.checkout-button {
    width: 100% !important;
}

.checkout-button:hover {
    cursor: pointer;
    background: #FBAF85;
}

#logo {
    position: relative;
    z-index: 110;
}

#miniMenu {
    display: none;
}

#miniMenu img, #logo {
    transition: filter 0.2s;
}

#miniMenu img:hover, #logo:hover {
    cursor: pointer;
    filter: invert(55%) sepia(20%) saturate(1215%) hue-rotate(337deg) brightness(96%) contrast(97%);
}

#tabletMenu {
    padding: 0 2.5rem;
    width: 100%;
    margin-left: -5vw;
    margin-top: 1.5rem;
    background: #FFF;
    position: absolute;
    z-index: 101;
    border-end-end-radius: 32px;
    border-end-start-radius: 32px;
}

#nav {
    z-index: 111;
}

#item-quantity-edit {
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (min-width: 1440px) {
    .app__section-header__background {
        padding: 1.5rem 15vw;
    }
}

@keyframes mount {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

@media screen and (max-width: 1150px) {
    #nav {
        display: none;
    }

    #miniMenu {
        width: 143px;
        height: 27px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #logo {
        position: absolute;
        left: 12vw;
    }

    .app__section-header__background {
        padding: 1.5rem 5vw;
    }

}

@media screen and (max-width: 850px) {
    .cart-menu {
        left: 40vw;
    }
}

@media screen and (max-width: 650px) {
    #nav {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .navigation .a {
        margin: 1rem 0;
    }

    .cart-menu {
        width: calc(100% - 10vw);
        left: 5vw;
    }

    #logo {
        position: initial;
    }

    .cart-menu__body-image {
        width: 55px;
        height: 55px;
    }

    .cart-menu__body-quantity {
        width: 80px;
    }
}